@model Reward

@{
    ViewData["Title"] = "Reward Details";
}

<div class="container mt-4">
    <h2>🎯 @Model.Title</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Type</dt>
        <dd class="col-sm-9">@Model.RewardType</dd>

        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9">@Model.Description</dd>

        <dt class="col-sm-3">Points</dt>
        <dd class="col-sm-9">@Model.PointsRequired</dd>

        <dt class="col-sm-3">Destination</dt>
        <dd class="col-sm-9">@Model.QuantityAvailable</dd>
        
        <dt class="col-sm-3">Expiration Date</dt>
        <dd class="col-sm-9">@Model.ExpirationDate.ToShortDateString()</dd>
        
        <dt class="col-sm-3">Sponsor</dt>
        <dd class="col-sm-9">@Model.Sponsor.Name</dd>
    </dl>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
