@model IEnumerable<Reward>

@{
    ViewData["Title"] = "Rewards";
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>📜 All Rewards</h2>
        <a asp-action="Create" class="btn btn-success">+ Add New</a>
    </div>

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Reward Type</th>
                <th>Description</th>
                <th>Points Required</th>
                <th>QuantityAvailable</th>
                <th>ExpirationDate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.RewardType</td>
                    <td>@item.Description</td>
                    <td>@item.PointsRequired</td>
                    <td>@item.QuantityAvailable</td>
                    <td>@item.ExpirationDate.ToShortDateString()</td>
                    <td>
                        <a 
                            asp-action="Details" 
                            asp-route-id="@item.Id" 
                            class="btn btn-sm btn-info" 
                            style="padding:2px 6px; font-size:12px;"
                            >Details
                        </a>

                        <a 
                            asp-action="Edit" 
                            asp-route-id="@item.Id" 
                            class="btn btn-sm btn-warning" 
                            style="padding:2px 6px; font-size:12px;"
                            >Edit
                        </a>

                        <a 
                            asp-action="Delete" 
                            asp-route-id="@item.Id" 
                            class="btn btn-sm btn-danger" 
                            style="padding:2px 6px; font-size:12px;"
                            >Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

 