@model Tourist_Project_MVC.Models.Sponsor

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-4">
    <h2> @Model.Name</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Type</dt>
        <dd class="col-sm-9">@Model.Type</dd>

        <dt class="col-sm-3">Address</dt>
        <dd class="col-sm-9">@Model.Address</dd>

        <dt class="col-sm-3">Phone Number</dt>
        <dd class="col-sm-9">@Model.ContactNumber</dd>
    </dl>
    <br />
    <div id="table-of-rewards">
        <h2>All Rewards provided</h2>
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    @*<th>Type</th>*@
                    <th>Required Points</th>
                    <th>Available Rewards</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Rewards)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td>@item.PointsRequired</td>
                        <td>@item.QuantityAvailable</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
        
        
   
    

    <a asp-action="Edit" asp-controller="Sponsor" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Index" asp-controller="Sponsor" class="btn btn-secondary">Back to List</a>
</div>
